img { min-width: 100%; min-height: 100%; position: fixed; display: block; top: 0; left: 0; object-fit: cover; z-index: +1; opacity: 0.5
}

body { 
  font-family: "verdana", sans-serif;
  color: #cecece;
  background: #222;
  overflow: hidden;
  text-align: justify;
}
button {
	opacity: 0; 
	z-index: -1
}    
.item-1, 
.item-2, 
.item-3 {
	position: absolute;
  display: block;
	top: 50px;
  
  width: 80%;
  
  font-size: 1.5em;

	animation-duration: 120s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;

}

.item-1{
	animation-name: anim-1;
}

.item-2{
	animation-name: anim-2;
}

.item-3{
	animation-name: anim-3;
}

@keyframes anim-1 {
	0%, 8.3% { left: -100%; opacity: 0; }
  8.3%,25% { left: 10%; opacity: 1; }
  33.33%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-2 {
	0%, 33.33% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 10%; opacity: 1; }
  66.66%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-3 {
	0%, 66.66% { left: -100%; opacity: 0; }
  74.96%, 91.62% { left: 10%; opacity: 1; }
  100% { left: 110%; opacity: 0; }
}

